@media (max-width: 480px) {
    .col {
      margin-left: 0px !important;
      margin-right: 0px !important;
      margin-bottom: 0px !important;
    }

    .col-md {
      margin-left: 0px !important;
      margin-right: 0px !important;
      margin-bottom: 0px !important;
    }

    .row {
      margin-left: 0px !important;
      margin-right: 0px !important;
      margin-bottom: 0px !important;

    }

    .mobile-margin-top {
      margin-top: 25px !important;
    }

    .mobile-margin-bottom {
      margin-bottom: 25px !important;
    }

    .container {
      margin-top: 0px !important;
    }

    .container-fluid {
      margin-top: 0px !important;
    }

    iframe {
      width: 100% !important;
    }


}

#myBtn {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 30px;
  z-index: 99;
  font-size: 18px;
  border: none;
  outline: none;
  background-color: rgba(121, 121, 121, 0.822);
  color: white;
  cursor: pointer;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 10px;
  border-radius: 4px;
}



html {
  scroll-behavior: smooth;
}

.startpanel:visited {
  color: white;

}

.cslinks:link {
  color: #ffcb77;
  
}

.cslinks:visited {
  color: #ffcb77;

}

.fullpanel {
  
  height:100vh;
}

.fullpaneltext {
  text-align: center;
  position: absolute;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
}

/* h2.bencomic:active {
  font-family: "Comic Sans MS", cursive, sans-serif;
} */

/* Index Hover Over Navbar Items: */

div.hom a.hom:hover {
  text-decoration-color: gainsboro;
}

div.comp a.comp:hover {
  /* color: #227c9d !important; */
  text-decoration-color: #227c9d;
}

div.des a.des:hover {
  /* color: #ffcb77 !important; */
  text-decoration-color: #ffcb77;
}

div.len a.len:hover {
  text-decoration-color: #fe6d73;
}

/* Active Navbar Items on Each Page: */

div.compactive a.compactive {
  text-decoration: underline !important;
  text-decoration-color: #227c9d !important;
}

div.desactive a.desactive {
  text-decoration: underline !important;
  text-decoration-color: #ffcb77 !important;
}

div.lenactive a.lenactive {
  text-decoration: underline !important;
  text-decoration-color: #fe6d73 !important;
}

div.homactive a.homactive {
  text-decoration: underline !important;
  text-decoration-color: gainsboro !important;
}





a.mywork:hover div.red {
  color: black;

}

a.mywork:hover div.blue {
  color: black;

}

a.mywork:hover div.yellow {
  color: black;
  
}

div a i.fa-github:hover {
  color: gainsboro !important;
}

p {
  font-family: 'Merriweather', serif;
}

h3 {
  margin-left: 0px;
  margin-right: 0px;
  font-family: 'Merriweather', serif;
  font-size: 18pt;
}

h1 {
  font-size: 64pt !important;
  font-family: 'Merriweather', serif;
}

h4 {
  
  font-family: 'Merriweather', serif;
  font-size: 16pt;

}





.border-3 {
    border-width:7px !important;
    border-color: black !important;
}

.background-yellow {
  background-color: #fdffb6 !important;
}

.background-blue {
  background-color: #caffbf !important;
}

.round-top-corners {
  border-top-left-radius: 15px !important;
  border-top-right-radius: 15px !important;
}

.round-bottom-corners {
  border-bottom-left-radius: 15px !important;
  border-bottom-right-radius: 15px !important;
}

.background-turq {
  background-color: #5fe4cf;
}

.background-purple {
  background-color: #ffcfd2 !important;
}

.background-grey {
  background-color: gainsboro;
}

.text-yellow {
    color: #fbf8cc !important;
}

.background-en-purple {
    background-color: #98f5e1 !important;
}

.text-en-purple {
    color: #7030a0 !important;
}

a.mywork:hover {
  color: black !important;
  text-decoration: none !important;
}



a.connect:link{
  color: black !important;
  text-decoration: underline;
  
}

a.connect:hover {
  color: blue !important;
  text-decoration: underline !important;
}

a.connect:visited {
  color: black;
  text-decoration: underline;
}

a:link {
  text-decoration: none;
}

a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

a:active {
  text-decoration: underline;
}

.no-padding {
    padding-left: 0 !important;
    padding-right: 0 !important;
}

.no-margin {
  margin-bottom: 0px !important;
}


