@media (max-width: 480px) {
    .col {
      margin-left: 0 !important;
      margin-right: 0 !important;
    }

    .col-md {
      margin-left: 0 !important;
      margin-right: 0 !important;
    }
}

.border-3 {
    border-width:7px !important;
    border-color: black !important;
}

.background-yellow {
  background-color: #fdffb6 !important;
}

.background-blue {
  background-color: #caffbf !important;
}

.round-top-corners {
  border-top-left-radius: 15px !important;
  border-top-right-radius: 15px !important;
}

.round-bottom-corners {
  border-bottom-left-radius: 15px !important;
  border-bottom-right-radius: 15px !important;
}

.background-turq {
  background-color: #5fe4cf;
}

.background-purple {
  background-color: #ffcfd2 !important;
}

.background-grey {
  background-color: #fff3b0;
}

.text-yellow {
    color: #fbf8cc !important;
}

.background-en-purple {
    background-color: #98f5e1 !important;
}

.text-en-purple {
    color: #7030a0 !important;
}

a:link {
  text-decoration: none;
  color: white !important;
}

a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
  color: black !important;
}

a:active {
  text-decoration: underline;
}

.no-padding {
    padding-left: 0 !important;
    padding-right: 0 !important;
}

.no-margin {
  margin-bottom: 0px !important;
}
